/*
This part styles man document
*/

	html {
		background-color: gray;
	}
	
	body {
		background-color: white;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 960px;
		}
		
	nav {
		padding-left:252px;
		width: 960px;

	}
		
	#header {
		background:white;
		height:auto;
		}
		
	#logo {
		padding-bottom: 20px;
		padding-left:50px;
		}

	#MainFeed {
		width:960px;
		height:auto;
		}
		
	#newsFeed {
		float:left;
		background: #00FFF1;
		width: 700px;
		height: 500px;
		}
	
	#sideBar {
		float:left;
		background: #FF000A;
		width:260px;
		height: 500px;
		}
