
		
#mainMenu {
	font-family:Arial;
	background: #FFF056;
	padding: 0px;
	width: 960px;
	list-style: none;

}
#mainMenu li {
	color:black;
	text-align: left;
	font: 1em black;
	font-family: Arial;
	display: inline-block;
	margin-right:-4px;
	margin-bottom:-5px;
	padding-right:20px;
	position: relative;
	background: #FFF056;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.aContainer {
	float:left;
	padding:0px;
	}

#mainMenu li a {
	
	padding:10px 10px;
	display:block;
	text-decoration: none;
	color:black;
	}

#mainMenu li:hover {
	background: white;
	color:black;
}

#mainMenu li:hover > a {
	color: black;
  }
  
#mainMenu li ul {
	float:none;
	padding: 0;
	position: absolute;
	top: 38px;
	left: 0;
	width: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
#mainMenu li ul li { 
	float:none;
	background: #FFF056; 
	display: block; 
	color: #fff;
}
#mainMenu li ul li:hover {
	color: black;
	background: white; 
	}
#mainMenu li:hover ul {
	z-index: 100;
	display: block;
	opacity: 1;
	visibility: visible;
}

#mainMenu li ul li a:link {
		 text-decoration: none;
		color: black;
	}
	
	#mainMenu li ul li a:visited {
		color: black;
	}

 .home {
	float:left;
	margin:0px;
	padding-top:2px;
	}
	
 .information {
	float:left;
	margin:0px;
	padding-top:4px;
	}
	
 .leaf {
	float:left;
	margin:0px;
	padding-top:4px;
	}
	
.kontakt {
	float:left;
	margin:0px;
	padding-top:4px;
	}
	
 .historia {
	float:left;
	margin:0px;
	padding-top:4px;
	}
			
			
