
		
#mainMenu {
padding-left: 149px;
width: 960px;
  list-style: none;

}
#mainMenu li {
 text-align: left;
  font: bold 17px/18px black;
font-family: 'entypo' Arial;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}


#mainMenu li:hover {
  background: #555;
  color: #fff;
}

#mainMenu li:hover > a {
	color: blue;
  }
  
#mainMenu li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#mainMenu li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#mainMenu li ul li:hover {
	color: white;
	background: #666; 
	}
#mainMenu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#mainMenu li a:link {
		 text-decoration: none;
		color: black;
	}
	
	#mainMenu li a:visited {
		color: inherit;
	}
